.tcs-kvk-button {
    background: transparent url("tcs-buy-btn-153.png") no-repeat scroll 0 0;
    display: inline-block;
    float: right;
    height: 36px;
    margin-left: 5px;
    width: 153px;
}